@page "/people/details"
@using Microsoft.EntityFrameworkCore
@using DonaideV2.Experimental.Domain
@inject IDbContextFactory<DonaideV2.Experimental.Infrastructure.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Person</h2>
    <hr />
    @if (person is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@person.FirstName</dd>
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@person.LastName</dd>
        </dl>
        <div>
            <a href="@($"/people/edit?personid={person.PersonId}")">Edit</a> |
            <a href="@($"/people")">Back to List</a>
        </div>
    }
</div>

@code {
    private Person? person;

    [SupplyParameterFromQuery]
    private int PersonId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        person = await context.Person.FirstOrDefaultAsync(m => m.PersonId == PersonId);

        if (person is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
