@page "/people/edit"
@using Microsoft.EntityFrameworkCore
@using DonaideV2.Experimental.Domain
@using DonaideV2.Experimental.Infrastructure.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Person</h2>
<hr />
@if (Person is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Person" OnValidSubmit="UpdatePerson" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Person.PersonId" value="@Person.PersonId" />
                <div class="mb-3">
                    <label for="firstname" class="form-label">FirstName:</label>
                    <InputText id="firstname" @bind-Value="Person.FirstName" class="form-control" />
                    <ValidationMessage For="() => Person.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">LastName:</label>
                    <InputText id="lastname" @bind-Value="Person.LastName" class="form-control" />
                    <ValidationMessage For="() => Person.LastName" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/people">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int PersonId { get; set; }

    [SupplyParameterFromForm]
    private Person? Person { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Person ??= await context.Person.FirstOrDefaultAsync(m => m.PersonId == PersonId);

        if (Person is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePerson()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Person!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PersonExists(Person!.PersonId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/people");
    }

    private bool PersonExists(int personid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Person.Any(e => e.PersonId == personid);
    }
}
