@page "/people"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DonaideV2.Experimental.Domain
@using DonaideV2.Experimental.Infrastructure.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DonaideV2.Experimental.Infrastructure.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="people/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Person">
    <PropertyColumn Property="person => person.FirstName" />
    <PropertyColumn Property="person => person.LastName" />

    <TemplateColumn Context="person">
        <a href="@($"people/edit?personid={person.PersonId}")">Edit</a> |
        <a href="@($"people/details?personid={person.PersonId}")">Details</a> |
        <a href="@($"people/delete?personid={person.PersonId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
